<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="utf-8"/>
      <title>Level Results</title>
      <link href="static/reset.css" type="text/css" rel="stylesheet" />
	  <link href="static/style.css" type="text/css" rel="stylesheet">
      <link href="static/bootstrap.css" type="text/css" rel="stylesheet" />
   </head>
   <body>
      <div class="container">
               <h1>Leaderboard -- obligatory "under construction", as you can see</h1>
               {% set count = 1 -%}
			   {% for player in results -%} 
				   <div class="row">
						<div class="admin">
							<div class="tablecell"> <h3><strong>#{{ count }}</strong></h3> </div>
							<div class="tablecell"> <img src="{{ player.avatar }}"> </div>
							<div class="tablecell name"> <h2>{{ player.display }} <small>#{{ player.disc }}</small></h2> </div>
						</div>
                        <div class="score">
                           <center>
							   <h5>{{ player.xp_in_lvl }} / {{ player.xp_next_lvl }} <strong>XP</strong> [{{ player.xp }} total]</h5>
                           </center>
                           <div class="progress progress-striped">
							   <div class="progress-bar progress-bar-info" style="width: {{ player.xp_pct }}%"></div>
                           </div>
                        </div>
						<div class="level_rep">
						    <div class="statstable">
								<div class="statsrow">
					    	    	<div class="statscell">
					    	    		<h4>Reputation:</h4>
					    	    	</div>
					    	    	<div class="statscell">
					    	    		<h4>{{ player.rep }} </h4>
					    	    	</div>
								</div>
								<div class="statsrow">
				                    <div class="statscell">
					    	    		<h4>Level:</h4>
						            </div>
				                    <div class="statscell">
					    	    		<h4>{{ player.level }}</h4>
						            </div>
								</div>
						    </div>
						</div>
                     </div>
			   {% set count = count + 1 %}
			   {% endfor %}
      </div>
   </body>
</html>
